#login{
    /* To center the div*/
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    padding: 20px;
    background-color: #cccccc;
    box-shadow: 10px 10px 30px #888888;
    text-align: center;
}